[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
jinja2 = "*"
click = "*"
itsdangerous = "*"
markupsafe = "*"
werkzeug = "*"
pytube = "*"
requests = "*"
insta-scrape = "*"
helpers = "*"

[dev-packages]

[requires]
python_version = "3.8"
