Flask==2.0.2
Jinja2==2.11.2
gunicorn==20.1.0
pytube==11.0.1
requests==2.26.0
﻿click==7.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
insta-scrape==2.1.2
instaloader==4.8.2
instascraper==2.0.4